@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="form-control col-12 block-head">
    <div class="form-row">

        <span class="">Magic Site</span>
        <div class="Search-Bar">
            <button type="button" asp-action="Search" class="Search-Button">Search </button>
            <input type="text" id="SearchField" class="Search-Box col-9" />

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Departments
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" onmouseover="KidsMenu()" href="#" id="dropdownKids">Kids</a>
                    <a class="dropdown-item" onmouseover="MenMenu()" href="#" id="dropdownMen">Men</a>
                    <a class="dropdown-item" onmouseover="LadiesMenu()" href="#" id="dropdownLadies">Ladies</a>
                </div>

            </div>
        </div>
    </div>
</div>

@* Kids Menu  *@

<div class="Department-Menu form-control" id="Department-Menu-Id" onmouseout="KidsMenuClose()" hidden="hidden">

    <div class="subhead-Menu-child d-inline-block" onmouseover="KidsMenu()">
        <table>
            <thead>
                <tr>
                    <th>
                        <a href="" class="col-10"> <b>Discover </b> </a>
                    </th>

                    <th>
                        <a href="" class="col-10"><b>Girls </b> </a>
                    </th>

                    <th>
                        <a href="" class="col-10"> <b> Boys </b> </a>
                    </th>

                    <th>
                        <a href="" class="col-10"> <b>All Clothing </b> </a>
                    </th>

                    <th>
                        <a href="" class="col-10"> <b>All Shoes </b> </a>
                    </th>

                    <th>
                        <a href="" class="col-10"><b>Featured Brands </b> </a>
                    </th>

                </tr>

            </thead>



            <tbody>

                <tr>
                    <td>
                        <a href="" class="col-10"> <b> </b> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">  </a>
                    </td>
                </tr>

                <tr>

                    <td>
                        <a href="" class="col-10"> <b>New In </b> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Shop Girls</a>
                    </td>
                    <td>
                        <a href="" class="col-10">Shop Boys </a>
                    </td>
                    <td>
                        <a href="" class="col-10">Shop Clothing </a>
                    </td>
                    <td>
                        <a href="" class="col-10"> Shop Shoes</a>
                    </td>

                    <td>
                        <a href="" class="col-10"> All Brands </a>
                    </td>
                </tr>

                @* Second Row *@

                <tr>
                    <td>
                        <a href="" class="col-10">Acceesories </a>
                    </td>

                    <td>
                        <a href="" class="col-10">New In</a>
                    </td>

                    <td>
                        <a href="" class="col-10">New In </a>
                    </td>

                    <td>
                        <a href="" class="col-10">New In</a>
                    </td>

                    <td>
                        <a href="" class="col-10">New In </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Nike</a>
                    </td>

                </tr>


                @* Third Row *@

                <tr>
                    <td>
                        <a href="" class="col-10"> Jewellery </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Bottoms & Jeans</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Denims </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Bottoms</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Sneakers </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Puma</a>
                    </td>

                </tr>

                @* Fourth Row *@

                <tr>
                    <td>
                        <a href="" class="col-10"> Clothes </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Dresses</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Trainers </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Tops</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Boots </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Reebok</a>
                    </td>

                </tr>

                @* Fifth Row *@

                <tr>
                    <td>
                        <a href="" class="col-10"> Shoes </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Tops</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Shorts </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Jackets</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Trainers </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Lacoste</a>
                    </td>

                </tr>

                @* Sixth Row *@
                <tr>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Hoodies & Sweaters</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Shirts </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Hoodies and Sweaters</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Sandals & Slippers </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Vans</a>
                    </td>

                </tr>

                @* Seventh Row *@

                <tr>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Jackets and Knitwear</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Jackets</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Shirts</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Formal</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Carvela</a>
                    </td>

                </tr>


                @* Eighth Row *@
                <tr>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Shoes</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Hoodies and Sweaters</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Jeans</a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Diesel</a>
                    </td>

                </tr>


                @* Nineth Row *@
                <tr>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Shoes</a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Replay</a>
                    </td>

                </tr>


                @* Tenth Row *@
                <tr>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Others</a>
                    </td>

                </tr>

            </tbody>

        </table>
    </div>
</div>



@* Men Menu  *@

@* For Development purpose only, Kindly return this when you're done hidden="hidden" *@

<div class="Department-Men-Menu form-control" id="Department-Men-Menu-Id" onmouseout="MensMenuClose()">

    <div class="subhead-Menu-child d-inline-block" onmouseover="MensMenu()">
        <table>
            <thead>
                <tr>
                    <th>
                        <a href="" class="col-10"> <b>Discover </b> </a>
                    </th>

                    <th>
                        <a href="" class="col-10"><b>Girls </b> </a>
                    </th>

                    <th>
                        <a href="" class="col-10"> <b> Boys </b> </a>
                    </th>

                    <th>
                        <a href="" class="col-10"> <b>All Clothing </b> </a>
                    </th>

                    <th>
                        <a href="" class="col-10"> <b>All Shoes </b> </a>
                    </th>

                    <th>
                        <a href="" class="col-10"><b>Featured Brands </b> </a>
                    </th>

                </tr>

            </thead>



            <tbody>

                <tr>
                    <td>
                        <a href="" class="col-10"> <b> </b> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">  </a>
                    </td>
                </tr>

                <tr>

                    <td>
                        <a href="" class="col-10"> <b>New In </b> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Shop Girls</a>
                    </td>
                    <td>
                        <a href="" class="col-10">Shop Boys </a>
                    </td>
                    <td>
                        <a href="" class="col-10">Shop Clothing </a>
                    </td>
                    <td>
                        <a href="" class="col-10"> Shop Shoes</a>
                    </td>

                    <td>
                        <a href="" class="col-10"> All Brands </a>
                    </td>
                </tr>

                @* Second Row *@

                <tr>
                    <td>
                        <a href="" class="col-10">Acceesories </a>
                    </td>

                    <td>
                        <a href="" class="col-10">New In</a>
                    </td>

                    <td>
                        <a href="" class="col-10">New In </a>
                    </td>

                    <td>
                        <a href="" class="col-10">New In</a>
                    </td>

                    <td>
                        <a href="" class="col-10">New In </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Nike</a>
                    </td>

                </tr>


                @* Third Row *@

                <tr>
                    <td>
                        <a href="" class="col-10"> Jewellery </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Bottoms & Jeans</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Denims </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Bottoms</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Sneakers </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Puma</a>
                    </td>

                </tr>

                @* Fourth Row *@

                <tr>
                    <td>
                        <a href="" class="col-10"> Clothes </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Dresses</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Trainers </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Tops</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Boots </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Reebok</a>
                    </td>

                </tr>

                @* Fifth Row *@

                <tr>
                    <td>
                        <a href="" class="col-10"> Shoes </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Tops</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Shorts </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Jackets</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Trainers </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Lacoste</a>
                    </td>

                </tr>

                @* Sixth Row *@
                <tr>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Hoodies & Sweaters</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Shirts </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Hoodies and Sweaters</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Sandals & Slippers </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Vans</a>
                    </td>

                </tr>

                @* Seventh Row *@

                <tr>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Jackets and Knitwear</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Jackets</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Shirts</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Formal</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Carvela</a>
                    </td>

                </tr>


                @* Eighth Row *@
                <tr>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Shoes</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Hoodies and Sweaters</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Jeans</a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Diesel</a>
                    </td>

                </tr>


                @* Nineth Row *@
                <tr>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Shoes</a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Replay</a>
                    </td>

                </tr>


                @* Tenth Row *@
                <tr>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Others</a>
                    </td>

                </tr>

            </tbody>

        </table>
    </div>
</div>


@*<script>
    function KidsMenu() {
        var lele = document.getElementById("Department-Menu-Id");
        lele.hidden = false;
    }

    function KidsMenuClose() {
        var lele = document.getElementById("Department-Menu-Id");
        lele.hidden = true;
    }
</script>*@
