@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


  <div class="form-control col-12 block-head">
            <div class="form-row">

                <span class="">Magic Site</span>
                <div class="Search-Bar">
                    <button type="button" asp-action="Search" class="Search-Button">Search </button>
                    <input type="text" id="SearchField" class="Search-Box col-9" />

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Departments
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" onmouseover="KidsMenu()" href="#" id="dropdownKids">Kids</a>
                            <a class="dropdown-item" onmouseover="MenMenu()" href="#" id="dropdownMen">Men</a>
                            <a class="dropdown-item" onmouseover="LadiesMenu()" href="#" id="dropdownLadies">Ladies</a>
                        </div>
                   
                    </div>
                </div>
            </div>
  </div>

<div class="Department-Menu form-control" id="Department-Menu-Id" hidden="hidden" onmouseout="KidsMenuClose()">
    <div class="form-row" >
        <div class="subhead-Menu d-inline-flex " onmouseover="KidsMenu()">
            <a href="" class="pr-4 col-4">Featured</a>
            <a href="" class="pr-4 col-4">Shoes</a>
            <a href="" class="pr-4 col-4">Clothing</a>
            <a href="" class="pr-4 col-4">Assessories</a>
        </div>
    </div>
</div>


<script>
    function KidsMenu()
    {
        var lele = document.getElementById("Department-Menu-Id");
        lele.hidden = false;
    }

    function KidsMenuClose()
    {
        var lele = document.getElementById("Department-Menu-Id");
        lele.hidden = true;
    }
</script>