@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="">
    <div class="">
        <div class="form-control col-12 block-head">
            <div class="form-row">

                <span class="">Magic Site</span>
                <div class="Search-Bar">
                    <button type="button" asp-action="Search" class="Search-Button">Search </button>
                    <input type="text" id="SearchField" class="Search-Box col-6" />
                </div>
                

            </div>
        </div>
    </div>
</div>