@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="">
    <div class="">
        <div class="form-control col-12 block-head">
            <div class="form-row">
                <button type="button" asp-action="Search" class="m-2 mb-2">Search</button>
                <input type="text" id="SearchField" class="form-control col-6" />

            </div>
        </div>
    </div>
</div>