
@model List<ViewProductHighLights>




@* Kids Menu  *@

<div class="Department-Kids-Menu form-control" id="Department-Menu-Id" onmouseout="KidsMenuClose()" hidden="hidden">

    <div class="subhead-Menu-child d-inline-block" onmouseover="KidsMenu()">
        <table>
            <thead>
                <tr>
                    <th>
                        <a href="" class="col-10"> <b>Discover Kids</b> </a>
                    </th>

                    <th>
                        <a href="" class="col-10"><b>Girls </b> </a>
                    </th>

                    <th>
                        <a href="" class="col-10"> <b> Boys </b> </a>
                    </th>

                    <th>
                        <a href="" class="col-10"> <b>All Clothing </b> </a>
                    </th>

                    <th>
                        <a href="" class="col-10"> <b>All Shoes </b> </a>
                    </th>

                    <th>
                        <a href="" class="col-10"><b>Featured Brands </b> </a>
                    </th>

                </tr>

            </thead>



            <tbody>

                <tr>
                    <td>
                        <a href="" class="col-10"> <b> </b> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">  </a>
                    </td>
                </tr>

                <tr>

                    <td>
                        <a href="" class="col-10"> <b>New In </b> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Shop Girls</a>
                    </td>
                    <td>
                        <a href="" class="col-10">Shop Boys </a>
                    </td>
                    <td>
                        <a href="" class="col-10">Shop Clothing </a>
                    </td>
                    <td>
                        <a href="" class="col-10"> Shop Shoes</a>
                    </td>

                    <td>
                        <a href="" class="col-10"> All Brands </a>
                    </td>
                </tr>

                @* Second Row *@

                <tr>
                    <td>
                        <a href="" class="col-10">Acceesories </a>
                    </td>

                    <td>
                        <a href="" class="col-10">New In</a>
                    </td>

                    <td>
                        <a href="" class="col-10">New In </a>
                    </td>

                    <td>
                        <a href="" class="col-10">New In</a>
                    </td>

                    <td>
                        <a href="" class="col-10">New In </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Nike</a>
                    </td>

                </tr>


                @* Third Row *@

                <tr>
                    <td>
                        <a href="" class="col-10"> Jewellery </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Bottoms & Jeans</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Denims </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Bottoms</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Sneakers </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Puma</a>
                    </td>

                </tr>

                @* Fourth Row *@

                <tr>
                    <td>
                        <a href="" class="col-10"> Clothes </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Dresses</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Trainers </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Tops</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Boots </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Reebok</a>
                    </td>

                </tr>

                @* Fifth Row *@

                <tr>
                    <td>
                        <a href="" class="col-10"> Shoes </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Tops</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Shorts </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Jackets</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Trainers </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Lacoste</a>
                    </td>

                </tr>

                @* Sixth Row *@
                <tr>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Hoodies & Sweaters</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Shirts </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Hoodies & Sweaters</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Sandals & Slippers </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Vans</a>
                    </td>

                </tr>

                @* Seventh Row *@

                <tr>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Jackets & Knitwear</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Jackets</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Shirts</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Formal</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Carvela</a>
                    </td>

                </tr>


                @* Eighth Row *@
                <tr>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Shoes</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Hoodies & Sweaters</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Jeans</a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Diesel</a>
                    </td>

                </tr>


                @* Nineth Row *@
                <tr>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Shoes</a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Replay</a>
                    </td>

                </tr>


                @* Tenth Row *@
                <tr>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Others</a>
                    </td>

                </tr>

            </tbody>

        </table>
    </div>
</div>



@* Men Menu  *@

@* For Development purpose only, Kindly return this when you're done  *@

<div class="Department-Men-Menu form-control" id="Department-Men-Menu-Id" hidden="hidden" onmouseout="MensMenuClose()">

    <div class="subhead-Menu-child d-inline-block" onmouseover="MensMenu()">
        <table>
            <thead>
                <tr>
                    <th>
                        <a href="" class="col-10"> <b>Discover Men</b> </a>
                    </th>

                    <th>
                        <a href="" class="col-10"><b>Shoes </b> </a>
                    </th>

                    <th>
                        <a href="" class="col-10"> <b> Clothing </b> </a>
                    </th>

                    <th>
                        <a href="" class="col-10"> <b>Discover Sports </b> </a>
                    </th>

                    <th>
                        <a href="" class="col-10"> <b>Popular Brands </b> </a>
                    </th>



                </tr>

            </thead>



            <tbody>

                <tr>
                    <td>
                        <a href="" class="col-10"> <b> </b> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">  </a>
                    </td>
                </tr>

                <tr>

                    <td>
                        <a href="" class="col-10"> <b>New In </b> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">All Shoes</a>
                    </td>
                    <td>
                        <a href="" class="col-10">All Clothes </a>
                    </td>
                    <td>
                        <a href="" class="col-10">All Sportswear </a>
                    </td>
                    <td>
                        <a href="" class="col-10"> Nike</a>
                    </td>


                </tr>

                @* Second Row *@

                <tr>
                    <td>
                        <a href="" class="col-10">Jewellery </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Sneakers</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Hoodies & Sweaters </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Accessories</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Adidas </a>
                    </td>



                </tr>


                @* Third Row *@

                <tr>
                    <td>
                        <a href="" class="col-10"> Belts </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Trainers</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Jackets & Knitwear </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> Tracksuits & Tights</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Puma </a>
                    </td>



                </tr>

                @* Fourth Row *@

                <tr>
                    <td>
                        <a href="" class="col-10"> Bags </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Sandals & Slippers</a>
                    </td>

                    <td>
                        <a href="" class="col-10">T-Shirts </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> Training Shoes</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Reebok </a>
                    </td>



                </tr>

                @* Fifth Row *@

                <tr>
                    <td>
                        <a href="" class="col-10"> Headwear </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Boots</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Golfers </a>
                    </td>

                    <td>
                        <a href="" class="col-10">T-Shirts and Vests</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Lacoste </a>
                    </td>



                </tr>

                @* Sixth Row *@
                <tr>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Formal</a>
                    </td>

                    <td>
                        <a href="" class="col-10">TrackSuits </a>
                    </td>

                    <td>
                        <a href="" class="col-10">  </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Diesel </a>
                    </td>



                </tr>

                @* Seventh Row *@

                <tr>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Jeans</a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Vans</a>
                    </td>


                </tr>


                @* Eighth Row *@
                <tr>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Pants</a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Asics </a>
                    </td>



                </tr>


                @* Nineth Row *@
                <tr>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Trainers</a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Carvela </a>
                    </td>



                </tr>


                @* Tenth Row *@
                <tr>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> Others </a>
                    </td>



                </tr>

            </tbody>

        </table>
    </div>
</div>



@* Women Menu  *@

@* For Development purpose only, Kindly return this when you're done hidden="hidden" *@

<div class="Department-Women-Menu form-control" id="Department-Women-Menu-Id" hidden="hidden" onmouseout="WomensMenuClose()">

    <div class="subhead-Menu-child d-inline-block" onmouseover="WomensMenu()">
        <table>
            <thead>
                <tr>
                    <th>
                        <a href="" class="col-10"> <b>Discover Women</b> </a>
                    </th>

                    <th>
                        <a href="" class="col-10"><b>Shoes </b> </a>
                    </th>

                    <th>
                        <a href="" class="col-10"> <b> Clothing </b> </a>
                    </th>

                    <th>
                        <a href="" class="col-10"> <b>Discover Sports </b> </a>
                    </th>

                    <th>
                        <a href="" class="col-10"> <b>Popular Brands </b> </a>
                    </th>



                </tr>

            </thead>



            <tbody>

                <tr>
                    <td>
                        <a href="" class="col-10"> <b> </b> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">  </a>
                    </td>
                </tr>

                <tr>

                    <td>
                        <a href="" class="col-10"> <b>New In </b> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">All Shoes</a>
                    </td>
                    <td>
                        <a href="" class="col-10">All Clothes </a>
                    </td>
                    <td>
                        <a href="" class="col-10">All Sportswear </a>
                    </td>
                    <td>
                        <a href="" class="col-10"> Nike</a>
                    </td>


                </tr>

                @* Second Row *@

                <tr>
                    <td>
                        <a href="" class="col-10">Jewellery </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Sneakers</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Hoodies & Sweaters </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Accessories</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Adidas </a>
                    </td>



                </tr>


                @* Third Row *@

                <tr>
                    <td>
                        <a href="" class="col-10"> Hand Bags </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Trainers</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Jackets & Knitwear </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> Tracksuits & Tights</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Puma </a>
                    </td>



                </tr>

                @* Fourth Row *@

                <tr>
                    <td>
                        <a href="" class="col-10"> Weaves </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Sandals & Slippers</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Dresses & Skirts </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> Training Shoes</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Reebok </a>
                    </td>



                </tr>

                @* Fifth Row *@

                <tr>
                    <td>
                        <a href="" class="col-10"> Hats </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Boots</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Jumpsuits </a>
                    </td>

                    <td>
                        <a href="" class="col-10">T-Shirts & Vests</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Lacoste </a>
                    </td>



                </tr>

                @* Sixth Row *@
                <tr>
                    <td>
                        <a href="" class="col-10"> Accessories</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Heels</a>
                    </td>

                    <td>
                        <a href="" class="col-10">Shirts </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> Sports Bra </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Diesel </a>
                    </td>



                </tr>

                @* Seventh Row *@

                <tr>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Lingerie</a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Vans</a>
                    </td>


                </tr>


                @* Eighth Row *@
                <tr>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Formal</a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Asics </a>
                    </td>



                </tr>


                @* Nineth Row *@
                <tr>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Jeans</a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Carvela </a>
                    </td>



                </tr>


                @* Tenth Row *@
                <tr>
                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10">Trainers & Tights </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> </a>
                    </td>

                    <td>
                        <a href="" class="col-10"> Others.... </a>
                    </td>



                </tr>

            </tbody>

        </table>
    </div>
</div>

<section class="Intro-Header">
    <div class="Introduction-Section">
        <div class="Introduction-Section-Images">

            <div class="background-img" id="background-images">
                <div class="Image-Sizing" id="image-sizing">
                    <div class="Catchy-Phrase">
                        <div class="Catchy-Phrase-Support2">
                            <span>Unleashing</span>
                        </div>
                        <div class="Catchy-Phrase-Support1">
                            <span>
                                The Power of movement with Confidence.
                            </span>
                        </div>

                        <div class="Catchy-Shop-Button">
                            <a class="button-styling" href="#">Shop</a>
                        </div>
                    </div>

                    

                    
                </div>
            </div>

        </div>

    </div>
</section>

<section class="Shopping-Highlights" id="Shopping-Highlights">

    <div class="Shop-Section-Head">

        <div class="Gategory-Section row">
            <span class="col-5">
                Shop Categories
            </span>
        </div>

        <div class="Product-Highlights row">

            <div class="card col-4">
                <img src="/CardHighlights/FemaleModel.jpg" />

                <div class="card-catergory">
                    <span>
                        Shop Women
                    </span>
                </div>

                <div class="card-body">
                    <button>
                        Shop
                    </button>
                </div>
            </div>

            <div class="card col-4">
                <img src="/CardHighlights/MaleModel.jpg" />

                <div class="card-catergory">
                    <span>
                        Shop Men
                    </span>
                </div>

                <div class="card-body">
                    <button>
                        Shop
                    </button>
                </div>
            </div>

            <div class="card col-4">
                <img src="/CardHighlights/KidModel.jpg" />

                <div class="card-catergory">
                    <span>
                        Shop Kids
                    </span>
                </div>

                <div class="card-body">
                    <button>
                        Shop
                    </button>
                </div>
            </div>
        </div>

    </div>

</section>

<section id="Hot-Products" class="Hot-Products-Section">
    <div class="Hot-Products-Section-Head">

        <div class="Hot-Products-Section-Title">
            <span class="Hot-Section-Catchy-Phrase-Title">Hot Products</span>
        </div>

        <div class="Hot-Products-Section-Catalogue row">

            @{
                foreach (var prod in Model)
                {
                    <div class="card col-4">
                        <img class="Product-Image" src="@prod.CoverURL" />

                        <div class="card-body">
                            <div class="Product-Name row">
                                <span>@prod.ProdName</span>
                            </div>

                            <div class="Product-Brand row">
                                <span>@prod.Name</span>
                            </div>
                            <div class="Product-Price row">
                                <span>@prod.ProdPrice</span>
                            </div>
                        </div>
                    </div>

                }

            }

        </div>

    </div>

</section>

<script type="module">
    fetch('/Data/IntroImages.json')
        .then(res => res.json())
        .then(data => {

            const container = document.getElementById("image-sizing");

            const images = data.map(item => {
                // Create a wrapper div
                const wrapper = document.createElement('div');
                wrapper.className = 'sneaker-wrapper col-12';
                wrapper.style.display = 'none'; // Hide all initially

                // Create the image
                const img = document.createElement('img');
                img.src = item.image;
                img.alt = "Sneaker";
                img.className = "sneaker-img";

                // Append image to wrapper, then wrapper to container
                wrapper.appendChild(img);
                container.appendChild(wrapper);

                return wrapper; // Store the wrapper, not the image

            });

            // Start with the first image visible
            let currentIndex = 0;
            if (images.length > 0) {
                images[currentIndex].style.display = 'block';
            }

            // Set up the slideshow timer
            setInterval(() => {
                // Hide current image
                images[currentIndex].style.display = 'none';

                // Move to next image (loop back to 0 if at end)
                currentIndex = (currentIndex + 1) % images.length;

                // Show next image
                images[currentIndex].style.display = 'block';
            }, 3000); // 2000ms = 2 seconds
            
        });
</script>
<script>
    function KidsMenu() {
        var lele = document.getElementById("Department-Menu-Id");
        var lelMen = document.getElementById("Department-Men-Menu-Id");
        var lelWomen = document.getElementById("Department-Women-Menu-Id");

        try {
            lelWomen.hidden = true;
            lelMen.hidden = true;
            lele.hidden = false;
        }
        catch {

        }

    }

    function KidsMenuClose() {
        var lele = document.getElementById("Department-Menu-Id");
        lele.hidden = true;
    }

    /*Men Menu hiding Functions*/

    function MensMenu() {
        var lele = document.getElementById("Department-Men-Menu-Id");
        var lelKids = document.getElementById("Department-Menu-Id");
        var lelWomen = document.getElementById("Department-Women-Menu-Id");

        try {
            lelWomen.hidden = true;
            lelKids.hidden = true;
            lele.hidden = false;
        }
        catch {

        }

    }

    function MensMenuClose() {
        var lele = document.getElementById("Department-Men-Menu-Id");
        lele.hidden = true;
    }

    /*Women Menu hiding Functions*/

    function WomensMenu() {
        var lele = document.getElementById("Department-Men-Menu-Id");
        var lelKids = document.getElementById("Department-Menu-Id");
        var lelWomen = document.getElementById("Department-Women-Menu-Id")

        try {
            lelKids.hidden = true;
            lele.hidden = true;
            lelWomen.hidden = false;
        }
        catch {

        }

    }

    function WomensMenuClose() {
        var lele = document.getElementById("Department-Women-Menu-Id");
        lele.hidden = true;
    }

</script>
