@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="form-control col-12 block-head">
    <div class="form-row">

        <span class="">Magic Site</span>
        <div class="Search-Bar">
            <button type="button" asp-action="Search" class="Search-Button">Search </button>
            <input type="text" id="SearchField" class="Search-Box col-9" />

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Departments
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" onmouseover="KidsMenu()" href="#" id="dropdownKids">Kids</a>
                    <a class="dropdown-item" onmouseover="MenMenu()" href="#" id="dropdownMen">Men</a>
                    <a class="dropdown-item" onmouseover="LadiesMenu()" href="#" id="dropdownLadies">Ladies</a>
                </div>

            </div>
        </div>
    </div>
</div>

    @* Return this hidden attribute below hidden="hidden"  *@

<div class="Department-Menu form-control" id="Department-Menu-Id" onmouseout="KidsMenuClose()">
    <div class="form-row">
        <div class="subhead-Menu-child d-inline-block" onmouseover="KidsMenu()">
            <a href="" class="pr-5 col-lg-12 col-md"><b>Discover </b> </a>
            <a href="" class="pr-5 col-lg-12 col-md"><b>Girls </b> </a>
            <a href="" class="pr-5 pl-2 col"> <b> Boys </b> </a>
            <a href="" class="pr-5 pl-3 col"> <b>All Clothing </b> </a>
            <a href="" class="pr-5 col"> <b>All Shoes </b> </a>          
            <a href="" class="pr-4 col"><b>Featured Brands </b> </a>
        </div>
    </div>

    @* List of sub heads for first row *@
    <br />

    <div class="form-row">
        <div class="subhead-Menu-child d-inline-block">
            <a href="" class="pr-5 col-lg-12 col-md"> <b>New In </b></a>
            <a href="" class="pr-4 pl-4 col-lg-12 col-md"> All Girls</a>
            <a href="" class="pr-4 col-12">All Boys</a>
            <a href="" class="pr-4 col-12">All Kids Clothing</a>
            <a href="" class="pr-4 col-12">All Kids Shoes</a>
            <a href="" class="pr-4 col-12">All Brands</a>
        </div>

    </div>


    @* Second Row Sub heading *@

    <div class="form-row">
        <div class="subhead-Menu-child d-inline-block">
            <a href="" class="pr-4 col-lg-12 col-md"> <b>Accessories</b></a>
            <a href="" class="pr-4 col-lg-12 col-md"> New In</a>
            <a href="" class="pr-5 pl-3 col"> New In</a>
            <a href="" class="pr-4 pl-2 col"> New In</a>
            <a href="" class="pr-4 col"> New In</a>
            <a href="" class="pr-4 col"> New In</a>
        </div>

    </div>

    <div class="form-row">
        <div class="subhead-Menu-child-l1 d-inline-flex">
            <a href="" class="pr-4 col-12">Test 3</a>
        </div>
    </div>

    <div class="form-row">
        <div class="subhead-Menu-child d-inline-flex">
            <a href="" class="pr-4 col-12">Test 2</a>
        </div>
    </div>
</div>


@*<script>
    function KidsMenu() {
        var lele = document.getElementById("Department-Menu-Id");
        lele.hidden = false;
    }

    function KidsMenuClose() {
        var lele = document.getElementById("Department-Menu-Id");
        lele.hidden = true;
    }
</script>*@