/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: ghostwhite;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/*My Custom Styling */
.block-head {
    background-color: mediumaquamarine;
    width: 100%;
    border-radius: 0.1rem;
    box-shadow: 0 .25rem .75rem #b6b6cb52;
    height: fit-content;
}

.Search-Bar {
    margin-left: auto;
    width: inherit;
}

.Search-Button {
    margin-right: -5px;
}

th > a, & td > a {
    color: #b5b3ea;
    z-index: 3;
    font-weight: 500;
    font-size: 1.5vw;
}

/*My Custom Styling Catchy-Images */
.sneaker-img {
    padding-left: 0px;
    padding-right: 0px;
    transition: opacity 0.5s ease-in-out;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.sneaker-wrapper {
    position: relative;
    display: block;
    border-radius: 20px;
}
.col-12 {
    padding-left: 0px;
    padding-right: 0px;
}

    .sneaker-wrapper::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* 50% black overlay */
        pointer-events: none;
        z-index: 1;
        border-radius: 20px;
    }


.card {
    padding-right: 1px;
    padding-left: 1px;
    border-radius: 10px;
    margin-right: 3%;
}

.col-4 {

    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 30.333333%

}

.card>img{
     border-radius: 10px;
}

.Product-Highlights {
    margin-left: 3%;
    margin-top: 2%;
}


.Catchy-Phrase {
    display: inline-block;
    position: absolute;
    z-index: 3;
    padding-top: 30%;
    width: 100%;
}


.Catchy-Phrase-Support2, .Catchy-Phrase-Support1, .Catchy-Shop-Button {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 3vw;
    font-weight: 500;
}

.Catchy-Phrase-Support2 > span {
    font-weight: 700;
    font-size: 4vw;
}

.Catchy-Shop-Button > a {
    background-color: #37474F;
    padding: 4px 8px 4px 8px;
    font-size: 3vw;
    margin-top: 4px;
    text-decoration:none;
}
.Shopping-Highlights {
    margin-top: 5%
}
.Gategory-Section {
    justify-content: center;
}

.Gategory-Section > span {
    font-size: 3.5vw;
    font-weight: 700;
    margin-left:13%;
}
.card-catergory > span {
    font-size: 2vw;
    font-variant: no-common-ligatures;
    font-weight: 600;
    margin-left: 5%
}
.card-body > button {
    font-size: 1.5vw;
    background-color: darkgray;
    border-color: ghostwhite;
    border-width: 1px;
    border-radius: 5px;
    font-weight: 500;
}

.card-body {
    padding-top: 15%;
    padding-left: 5%;
    padding-bottom: 15px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
