@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<Prod_ImageTbl>
@{
}

<div>
    <div>
       @{ 
           foreach(var ts in Model)
            {
                <div>
                    <img src="../@ts.Image_Url"/>
                   
                </div>
            }
       }
    </div>
    <br />
    <label>TEst Individual</label>
    <br />
    <img src ="./AppImages/Adult/Men/Shoes\cb64db8a-bbeb-4ba0-bdbe-f2f3638a2203subm.JPG.jpg"/>
</div>