@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<Prod_ImageTbl>
@{
}

<div>
    <div>
       @{ 
           foreach(var ts in Model)
            {
                <div>
                    <img src="~/@ts.Image_Url"/>
                   
                </div>
            }
       }
    </div>
    <br />
    <label>TEst Individual</label>
    <br />
    
    <img src="~/AppImages/c8cb0941-83dc-41ce-b757-cbe576251c76DeletePharmacy.PNG.png"/>

    <img src="~/AppImages/Adults/Men/Shoes\42cd5721-534b-4e17-bc31-12559f8dc718ONPLogo2.jpg.jpg" />

    <br />
    <img src="../wwwroot/AppImages/c8cb0941-83dc-41ce-b757-cbe576251c76DeletePharmacy.PNG.png" />

</div>