@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>
    Products
</h1>
<br/>

<section id="Section-Body">
    <button>Add</button>

    <div class="Modal-PopUp-AddingProduct">

        <form method="post" >

        </form>

    </div>
</section>
